canvas {
    background-image: url("../pics/bk.jpg");
    margin: 0;
    padding: 0;
}

#wrapper {
/*    border: 2px solid black;*/

    display: inline-block;
    position: relative;
}

#playerName {
/*    border: 2px solid black;*/

    position: absolute;
    top: 20px;
    left: 40%;

    font-size: 40px;

}

#new-tile-wrapper {
/*    border: 2px solid black;*/

    position: absolute;
    top: 0px;
    margin: 20px;


}

img {
    width: 200px;
    height: 200px;
}

#zoom-btn-wrapper {
/*    border: 2px solid black;*/

    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    width: 35px;
}

#plus, #minus, #recentre {
    width: 30px;
}

#confirm {
    border: 2px solid black;

    position: absolute;
    bottom: 50px;
    right: 50px;
/*    margin: 50px;*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
}
